[user]
    name = YOUR NAME
    email = YOUR EMAIL
[color]
    diff = auto
    status = auto
    branch = auto
[color "status"]
    added = green
    changed = red
    untracked = cyan
[core]
    editor = nvim
[push]
    default = upstream
